.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  transition: border-color, linear, 250ms;
}
.feedback-form input:hover {
  border-color: #000;
}
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  transition: border-color, linear, 250ms;
}
.feedback-form textarea:hover {
  border-color: #000;
}
.feedback-form button {
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color, linear, 250ms;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
